<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.Citest"
		versionCode="1"
		version   = "1.2.3">
		<name>Медицинский центр Амрита</name>
		<description>Амрита медцентр</description>
		<author href="http://www.amrita.ru" email="contact@amrita.ru">amrita author</author>
		<preference name="phonegap-version" value="3.7.0" />
		<preference name="orientation" value="portrait" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="false" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-maxSdkVersion" value="19" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="3000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
<!--
		<gap:platform name="android" />
-->
		<feature name="http://api.phonegap.com/1.0/network"/>
<gap:plugin name="org.apache.cordova.inappbrowser" version="0.5.2" />
<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
<gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4" />
<icon src="res/main_logo.png" />
		<icon src="res/main_logo36.png" gap:platform="android" gap:density="ldpi" />
		<icon src="res/main_logo48.png" gap:platform="android" gap:density="mdpi" />
		<icon src="res/main_logo72.png" gap:platform="android" gap:density="hdpi" />
		<icon src="res/main_logo96.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="res/main_logo144.png" gap:platform="android" gap:density="xxhdpi" />
		<gap:splash src="res/screen/android/screen-ldpi-portrait.jpg" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="res/screen/android/screen-mdpi-portrait.jpg" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="res/screen/android/screen-hdpi-portrait.jpg" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="res/screen/android/screen-xhdpi-portrait.jpg" gap:platform="android" gap:density="xhdpi" />

<!-- iPhone / iPod Touch  -->
<icon src="res/main_logo60.png" gap:platform="ios" width="60" height="60" />

 <gap:config-file platform="ios" parent="CFBundleShortVersionString">
    <string>100</string>
    </gap:config-file>
 <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	</widget>